# Dependances
node_modules/

# Compilation
backend/dist/
frontend/dist/
*.tsbuildinfo

# Bases de donnees locales
data/
*.sqlite
*.db

# Variables d'environnement
.env
.env.local
backend/.env

# Vercel
.vercel

# Divers
.DS_Store
npm-debug.log*
.env*
